---
---
// THIS FILE CONTAINS CSS RULES SPECIFIC TO LARGER SCREENS.
// ========================================================

nav {
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "brand links";
  
  padding: 0;
}

nav > .nav-toggle {
  display: none;
}

nav > ul.nav-links {
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  
  padding-left: 0;
  height: initial;
  
  background-color: initial;
}

// !*! Content styles
// ==================


section.ccard.card-left {
  flex-direction: row-reverse;
}
section.ccard.card-right {
  flex-direction: row;
}