---
---
// Colours/fonts
:root {
  --base-font: Arial, Helvetica, sans-serif;
  
  --base-bg: white;
  --base-bg2: gainsboro;
  --base-fg: black;
  
  --nav-bg: powderblue;
  --nav-bg2: skyblue;
  --nav-fg: black;
  --nav-fg2: slategray;
  
  --nav-acc-light: turquoise;
  --nav-acc-mid: mediumturquoise;
  --nav-acc-dark: darkturquoise;
}
body {
  font-family: var(--base-font);
  box-sizing: border-box;
  margin: 0;
  
  background-color: var(--base-bg2);
  color: var(--base-fg);
}

// ====================
// !*! Navbar styles
// ====================
nav {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(auto, 2);
  grid-template-areas: 
    "brand menu"
    "links links";
  padding: 0.5rem 0 0 0;
  
  background-color: var(--nav-bg);
  color: var(--nav-fg);
  
}

nav > .brand {
  grid-area: brand;
  margin-left: 1.5rem;
  min-width: 5rem;
  
  font-size: 2.5rem;
  font-weight: 800;
}

// Fancy CSS hack for a toggle button
nav > input.nav-toggle {
  display: none;
}
nav > label.nav-toggle {
  grid-area: menu;
  
  margin-right: 0.5rem;
  padding: 1.0rem;
  height: fit-content;
  width: fit-content;
  
  background-color: var(--nav-acc-light);
}
nav > input:checked + label.nav-toggle {
  background-color: var(--nav-acc-mid);
}
nav > label.nav-toggle:active {
  background-color: var(--nav-acc-dark);
}

// Primary navbar link styles
nav > ul.nav-links {
  grid-area: links;
  display: flex;
  flex-direction: column;
  
  list-style: none;
  margin: 0;
  padding: 0 0 0 0.75rem;
  
  // common transition properties
  overflow: hidden;
  height: 0;
  transition: height 0.5s ease-in-out, padding 0.5s ease-in-out;
  
  background-color: var(--nav-bg2);
}
nav > input:checked ~ ul.nav-links {
  height: calc(var(--data-nav-scrollheight) + 1rem);
}
nav > ul.nav-links > li {
  height: 2rem;
  min-height: 2rem;
  overflow: hidden;
}
nav > ul.nav-links a {
  display: block;
  
  width: 100%;
  height: 100%;
  padding: 0.3rem;
  
  color: var(--nav-fg2);
  text-decoration: none;
}
nav > ul.nav-links a.nav-current {
  color: var(--nav-fg);
  font-weight: 700;
}
@media noscript {
  // if JS is disabled, the hamburger menu won't work properly
  // we'll need to leave it open
  nav > ul.nav-links {
    height: initial;
  }
}

// ====================
// !*! Content styles
// ====================

main {
  padding: 1.5rem;
  max-width: var(--breakpoint-lg);
  margin: 0 auto;
  
  background-color: var(--base-bg);
}
main > h1 {
  text-align: center;
  font-weight: bold;
}
img {
  max-width: 100%;
  max-height: 100%;
  object-fit: fill;
}

section.ccard {
  display: flex;
  flex-direction: column;
}

section.ccard > * {
  order: 2;
  flex-grow: 1;
  flex-basis: 0;
  
  padding: 0.5rem;
}
section.ccard > .content {
  order: 1;
  flex-grow: 1;
}

.ctr-container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}
