---
---
// Colours/fonts
:root {
  --base-font: Inter, Arial, Helvetica, sans-serif;
  // I might add an option to turn this on (for the funnies!)
  // --base-font: "Comic Sans MS", "Comic Sans", Arial, Helvetica, sans-serif;
  
  --base-bg: rgb(228, 250, 253);
  --base-bg2: powderblue;
  --base-bg3: rgb(76, 129, 136);
  --base-fg: black;
  
  --nav-bg: powderblue;
  --nav-bg2: rgb(158, 206, 212);
  --nav-fg: black;
  --nav-fg2: rgb(62, 71, 80);
  
  --nav-acc-light: turquoise;
  --nav-acc-mid: mediumturquoise;
  --nav-acc-dark: darkturquoise;
}
body {
  font-family: var(--base-font);
  box-sizing: border-box;
  margin: 0;
  z-index: 0;
  
  overflow: visible;
  
  background-color: var(--base-bg);
  color: var(--base-fg);
}
// ====================
// !*! Header styles
// ====================
.page-header-text {
  text-align: center;
  font-weight: 700;
  padding: 2rem 0;
}

// ====================
// !*! Navbar styles
// ====================
nav {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(auto, 2);
  grid-template-areas: 
    "brand menu"
    "links links";
  z-index: 10000;
  
  position: sticky;
  top: 0;
  
  background-color: var(--nav-bg);
  color: var(--nav-fg);
  // box-shadow: 0px 5px 5px 0px gray;
  
}

nav > .brand {
  grid-area: brand;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: fit-content;
  margin-left: 2rem;
  
  font-size: 2.5rem;
  font-weight: 800;
}

nav > img.brand, nav > .brand > img {
  max-width: 3.25rem;
  max-height: 3.25rem;
  margin: 0.25rem;
  border-radius: 50%;
}

// Fancy CSS hack for a toggle button
nav > input.nav-toggle {
  display: none;
}
nav > label.nav-toggle {
  grid-area: menu;
  
  display: block;
  padding: 1.0rem;
  margin: 0;
  
  background-color: var(--nav-acc-light);
}
nav > input:checked + label.nav-toggle {
  background-color: var(--nav-acc-mid);
}
nav > label.nav-toggle:active {
  background-color: var(--nav-acc-dark);
}

// Primary navbar link styles
nav > ul.nav-links {
  grid-area: links;
  display: flex;
  flex-direction: column;
  
  list-style: none;
  margin: 0;
  padding-left: 1rem;
  
  // common transition properties
  overflow: hidden;
  height: 0;
  transition: height 0.5s ease-in-out, padding 0.5s ease-in-out;
  
  background-color: var(--nav-bg2);
}
nav > input:checked ~ ul.nav-links {
  height: calc(var(--data-nav-scrollheight) + 1rem);
}
nav > ul.nav-links > li {
  height: 2rem;
  min-height: 2rem;
  overflow: hidden;
}
nav > ul.nav-links a {
  display: block;
  
  width: 100%;
  height: 100%;
  padding: 0.3rem;
  
  color: var(--nav-fg2);
  text-decoration: none;
}
nav > ul.nav-links a.nav-current {
  color: var(--nav-fg);
  font-weight: 700;
}
@media noscript {
  // if JS is disabled, the hamburger menu won't work properly
  // we'll need to leave it open
  nav > ul.nav-links {
    height: initial;
  }
}

// ====================
// !*! Footer styles
// ====================
footer {
  background-color: var(--nav-bg);
}
ul.sitemap {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 0;
  justify-content: center;
  
  list-style: none;
  padding: 0.5rem;
}
ul.sitemap > li > a {
  color: var(--nav-fg);
  font-size: 0.75rem;
}

// ====================
// !*! Content styles
// ====================

main {
  padding: 1.5rem;
  max-width: 992px;
  margin: 0 auto;
  
  background-color: var(--base-bg);
}
main > h1 {
  text-align: center;
  font-weight: bold;
}
img {
  max-width: 100%;
  max-height: 100%;
  object-fit: fill;
}

.content > p {
  text-indent: 4ex;
}

section.ccard {
  display: flex;
  flex-direction: column;
}

section.ccard > * {
  order: 2;
  flex-grow: 1;
  flex-basis: 0;
}
section.ccard > .content {
  order: 1;
  flex-grow: 1;
}

figcaption {
  font-size: 0.9rem;
  text-align: center;
}


// ====================
// !*! Utilities
// ====================
.ctr-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.scroll-overflow {
  overflow: scroll;
}
.big-header {
  display: block;
  margin: 0 auto;
  max-height: 6rem;
}

.bullet-emoji > li {
  padding-left: 1rem;
}
.bullet-check {
  list-style-type: "\2705";
  padding-left: 4ex;
}
.bullet-cross {
  list-style-type: "\274E";
  padding-left: 4ex;
}